<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OrchidBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="level" value="ALL" />
				<arg key="showLogName" value="true" />
				<arg key="showDataTime" value="true" />
				<arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
			</factoryAdapter>
		</logging>
	</common>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MantisConnectBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding" contract="MantisConnect.MantisConnectPortType" name="MantisConnectPort" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<OrchidBot.Properties.Settings>
   <setting name="MantisUser" serializeAs="String">
    <value>Mantis Username</value>
   </setting>
   <setting name="MantisPassword" serializeAs="String">
    <value>Mantis Password</value>
   </setting>
   <setting name="SlackAPIKey" serializeAs="String">
    <value>SlackBot api key</value>
   </setting>
   <setting name="MantisUrl" serializeAs="String">
    <value>Mantis web address url</value>
   </setting>
   <setting name="MantisBugRegex" serializeAs="String">
    <value>\#[0-9]+</value>
   </setting>
  </OrchidBot.Properties.Settings>
	</applicationSettings>
</configuration>